* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-image: url(Imagenes/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header, footer{
    background-color: rgba(231, 231, 77, 0.5);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


img{
    width: 100%;
    margin: auto;
}

.logo{
    width: 140px;
}

.logo img{
    border-radius: 50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    background-color: rgba(255, 255, 100, 0.3);
    margin: 15px 0;
    padding: 30px;
}

.col2img{
    width: 45%;
    margin: auto;
    display: block;
}

.col2{
    border: 1px dashed rgb(218, 218, 100);
    width:  47%;
    box-shadow: 5px 5px 5px 5px rgb(173, 173, 173);
    padding: 20px;
}

.col3{
    width: 30%;
}

body{
    margin-left: 40px;
    margin-right: 40px;
}

.Galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Galeria img {
    width: 200px;
    border-radius: 20px;
}

#dife{
    border-radius: 50%;
}

nav {
    background-color: rgb(79, 176, 116);
    padding: 7px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a{
    background-color: rgb(224, 224, 169);
    color: rgb(84, 161, 164);
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px beige;
    
}

nav a:hover{
    background-color: black;
    color: rgb(225, 211, 193);
    transform: scale(1.3);
    
}

.video-flex {
    width: 90%;
    height: 90%;
}

.imagen{
    width: 30%;
    margin: auto;
}

.imagen img{
    border-radius: 50%;
    border: 8px solid green;
}

.imagen img:hover{
    filter: sepia();
    transform: scale(0.5);
}

.galeria-producto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;
}

.card {
    width: 20rem;
    height: 15rem;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.card img:hover {
    filter:brightness();
    transform: scale(1.04);
    cursor: pointer;
    transition: 1s;
}

.title-galeria {
    text-align: center;
    margin-top: 1rem;
}